{# templates/description/add.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une description</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter la description</button>
    {{ form_end(form) }}
{% endblock %}